<?xml version="1.0"?>

<launch>
    <arg name="model_name" default="$(anon truss_model)"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="1.0"/>
    <arg name="Y" default="0.0"/>
  
  
    <!-- send the robot XML to param server -->
    <param name="truss_description" command="$(find xacro)/xacro.py '$(find environment_models)/urdf/truss_dynamic.urdf.xacro'" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_$(arg model_name)" pkg="gazebo_ros" type="spawn_model"
      args="-param truss_description
            -urdf
            -x $(arg x)
            -y $(arg y)            
            -z $(arg z)
            -Y $(arg Y)
            -model $(arg model_name)"
      respawn="false" output="screen" />

</launch>
